<%= render 'layouts/navbar' %>
<div class="banner">
	<span>Content worth sharing</span>
</div>
<div class="para-1">
	<p>The Content Market is a forward thinking content marketing agency with a creative approach to multi-channel marketing and consumer digital communications.</p>
 	<p>With experience in PR, marketing strategy, social media, SEO, websites, design, content creation and video, including animation, we combine online and offline channels for powerful results.</p>
 	<p>Based in Harrogate and with offices in London and Edinburgh we work with businesses throughout the UK.</p>
 	<p>Our services include online and traditional PR, on site SEO, launch PR, design, branding, website development, social media marketing and content marketing strategy.</p>
 	<p>Our content marketing team delivers high quality content to drive brand awareness and visibility across multiple channels.</p>
</div>
<div class="services">
	<h1>What We Do</h1>
	<div class="flex-wrap">
		<div class="service">
			<div class="title">Video &amp; Animation</div>
			<div class="desc">Service description</div>
		</div>
		<div class="service">
			<div class="title">Content</div>
			<div class="desc">Service description</div>
		</div>
		<div class="service">
			<div class="title">Social Media</div>
			<div class="desc">Service description</div>
		</div>
		<div class="service">
			<div class="title">Web Design</div>
			<div class="desc">Service description</div>
		</div>
		<div class="service">
			<div class="title seo">SEO</div>
			<div class="desc">Service description</div>
		</div>
		<div class="service">
			<div class="title">Marketing Campaigns</div>
			<div class="desc">Service description</div>
		</div>
		
	</div>
</div>
<div class="brands">
	<h1>We've worked with some great brands</h1>
	<div class="flex-wrap">
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		<div class="brand">
		</div>
		
	</div>
</div>
<div class="case-studies">
	<h1>Success Stories</h1>
	<div class="wrapper">
  	<h1>Parallax Flipping Cards</h1>
  	<div class="cols">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://unsplash.it/500/500)">
						<div class="inner">
							<p>Diligord</p>
              <span>Lorem ipsum</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://unsplash.it/501/501)">
						<div class="inner">
							<p>Rocogged</p>
              <span>Lorem ipsum</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://unsplash.it/502/502/)">
						<div class="inner">
							<p>Strizzes</p>
              <span>Lorem ipsum</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://unsplash.it/503/503/)">
						<div class="inner">
							<p>Clossyo</p>
              <span>Lorem ipsum</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://unsplash.it/504/504/">
						<div class="inner">
							<p>Rendann</p>
              <span>Lorem ipsum</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://unsplash.it/505/505/)">
						<div class="inner">
							<p>Reflupper</p>
              <span>Lorem ipsum</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
 	</div>
</div>

