<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <p>====================================</p>
    <p>New message from <%= @name %></p>
    <p>====================================</p>
    <p>Email: <%= @email %></p>
    <p>====================================</p>
    <p>Message body: <%= @message %></p>
    <p>====================================</p>
  </body>
</html>
