<%= render 'layouts/navbar' %>
<div class="about-container">
  <p class="header">Our story</h1>
  <p>The Content Market was launched by a team of multimedia journalists who saw a need for strong written and visual content marketing.</p>
  <p>Our exciting and innovative brand of marketing is thanks to the combined the skills of our dynamic team.</p>
  <p>As well as print and broadcast journalists, we have our own in-house animator, a graphic designer and a talented videographer.Together they make up our visual team.</p>
  <p>Our digital team includes a web designer, a back-end developer and a technical SEO specialist.</p>
  <p>On the content marketing side, our journalists work with a seasoned communications strategist and a social media manager who learnt her craft Stateside before joining us.</p>
  <p>There's a really vibrant atmosphere in the Content Market office and we love coming up with new ideas for our clients.</p>
  <p class="contact">Give us a call to find out how we can help you: 01423 501323</p>
</div>
