<div class="footer">
	<div class="footer-logo">
		<%= image_tag('footer-logo') %>
	</div>
  <div class="flex-row">
    <div class="privacy">
      <%= link_to 'privacy policy', 'privacy_policy.pdf' %>
    </div>
    <div class="copy">
      Copyright The Content Market 2018 &copy;
    </div>
  </div>
</div>
